* {
	box-sizing: border-box;
  }
  
  body {
	  font-family: Arial, Helvetica, sans-serif
	  background-color: white;
  }
  
  h1 {
	text-align: center;
  }
  
  
  .flexbox {
	border: 2px solid black;
	background-color: #99c1d6;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 30px;
  
  }
  
  #chicken_text {
	  background-color: #ff9999;
	  border: 1px solid black;
	  padding: 5px 40px 5px 40px;
	  width: 50%
	  
  }
  
  #beef_text {
	  background-color: #ff1a1a;
	  border: 1px solid black;
	  padding: 5px 50px 5px 50px;
	  width: 50%
	  
  }
  
  #sushi_text {
	  background-color: #ffcc66;
	  border: 1px solid black;
	  padding: 5px 50px 5px 50px;
	  width: 50%


	  
  }
  
  p {
	font-size: 100%;
	padding: 5px;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
  }
  